{% extends 'AwaBaseBundle::userBase.html.twig' %}

{% block body -%}
    <h1>Our recent applications</h1>
		
		{% for entity in entities %}
           
                <a href="{{ path('store_show_app', { 'id': entity.id }) }}">{{ entity.name }}</a>
                {{ entity.price }}
        {% endfor %}
        
    {% endblock %}
