{% extends 'AwaBaseBundle::userBase.html.twig' %}

{% block body -%}
	<a href="{{path('user_show')}}" target="blank">user info</a>
	<br>
	<a href="{{path('ask_distributor')}}" target="blank">ask distributor</a>
{% endblock %}
