

  <div class="container">
 <form action="{{ path('login_check') }}" class="" method="POST" >
 <div class="formulario">
          <form action="{{ path('login_check') }}" class="" method="POST" >
            <h2 class="form-signin-heading"> Iniciar sesión </h2>
           
            <input class="input-group input-group-lg" placeholder="Usuario " type="text" id="username" name="_username" value="{{ last_username }}" />
            <br>
            <input class="input-group input-group-lg" placeholder="Password" type="password" id="password" name="_password" />

                     
            {% if error %}
              <div class="alert alert-danger">
                Usuario/contraseña incorrecta
              </div>
            {% endif %}
            <label class="checkbox">
               <input type="checkbox" id="remember_me" name="_remember_me" checked />Recordarme
            </label>
              <button class="btn btn-large btn-primary" type="submit">Iniciar sesión </button>
              <div id="registro">
                  <a href="{{ path('user_new') }}">Registrarse </a>
              </div>
              <div id="olvido-contraseña">
                  <a href="">¿Olvidó su password?</a>
              </div>


          </form>
      </div>
 </form>
 </div>
