{% extends 'AwaBaseBundle::distributorBase.html.twig' %}

{% block body -%}
    <h1>Create Your new app</h1>

    <form action="{{ path('distributor_aplication_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('myapps') }}">
            Back to your apps
        </a>
    </li>
</ul>
{% endblock %}
