body
{
    background: none repeat scroll 0 0 #efebeb;
}


h1, footer
{
   text-align:center;
}

#jumbo {
  padding: 0px;
  margin: -20px;
}

header
{
  
}

#main_header
{
  
}

aside.left-bar, main,article
{
/*	outline:solid 1px green;*/
}

main .row
{
  margin-left:-1px;margin-right:-1px;}

#appLayout
{
  display: inline-block;
}

#app-header
{
  background-color:#5687BC;
  height:400px;
}

#details
{
  float:left;
}

#app-title
{
  float:left;
  margin-right: 40px;
}
#app-image
{
  float:right;
  margin-left:400px;
}

#distributor
{
  float:left;
  clear:both;
}

#visits{
  float:right;
  clear:both;
  font-size:18px;
}

.app-image
{
  float:left;
  margin-right:10px;
  width:200px;
  height:200px;
}

/* main nav bar*/


/* 

aside left bar 

for css example take a look here http://getbootstrap.com/examples/dashboard/
*/


